@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #1D9E74;
    color: white;
}

::-moz-selection {
    background-color: #1D9E74;
    color: white;
}

code {
    display: block;
    padding: 12px;
    font-style: italic;
    color: #3f3f3f;
    background: #f5f5f5;
}

code:before {
    content: 'Debug result : \A0';
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
}

.error {
    display: block;
    padding: 12px;
    font-style: italic;
    color: #ffffff;
    background: #c91d15;
}

.alert {
    background: #dedede;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.alert p:last-child {
    margin-bottom: 0;
    line-height: 24px;
}

.alert .info-title {
    color: #fff;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #8BA8AF;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.alert .info-title:before {
    content: 'Info';
}

.alert .warning-title {
    color: #fff;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #DD4814;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.alert .warning-title:before {
    content: 'Warning';
}

.alert .success-title {
    color: #fff;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #51b146;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.alert .success-title:before {
    content: 'Success';
}

.alert .error-title {
    color: #fff;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #DD1414;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.alert .error-title:before {
    content: 'Error';
}

.btn {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 5px 20px 10px 20px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
    box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0.5) inset, 0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset;
    vertical-align: middle;
    margin: 10px;
}

.btn-primary {
    background-color: #f3f6f6 !important;
    color: #404040 !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}